PORT=3001
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001

POSTGRES_USER=postgres
POSTGRES_DB=integrador
POSTGRES_PASSWORD=CHANGE_ME

SUPERTOKENS_IMAGE=supertokens/supertokens-postgresql:12.1.1
SUPERTOKENS_API_KEY=CHANGE_ME